
/* css with preferred overrides*/
body {

    background-color: rgb(165, 100, 226);
}

h3, h2, h1  {

    font-family: 'Luckiest Guy', cursive;
    color: rgb(187, 209, 87);
    
}

p {

    font-family: 'Bangers', cursive;
    color: rgb(127, 255, 138);
    font-size: xx-large;
}

img {

    margin-top: 60px;
    margin-left: 110px;
}

.container-fluid {

    background-color: rgb(39, 37, 35);

    
    
    width: 100%;
}

.rounded-circle {

    display: block;
    
}
