body {

    background-color: rgb(165, 100, 226);
}

h3, h2, h1  {

    font-family: 'Luckiest Guy', cursive;
    color: rgb(187, 209, 87);
    
}

p {

    font-family: 'Bangers', cursive;
    color: rgb(127, 255, 138);
    font-size: xx-large;
}

img {
    width: 500px;
}

.container-fluid {

    background-color: rgb(39, 37, 35);
    height: 620px;
    width: 100%;
}

.rounded-circle {

    display: block;
    margin-left: auto;
    margin-right: auto;
}